<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title">Examen</li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="formulario" routerLinkActive="c-active">
            <i class="c-sidebar-nav-icon fa fa-table"></i> Formulario
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="empleados">
            <i class="c-sidebar-nav-icon fa fa-github"></i> Empleados
        </a>
    </li>
    <ng-content></ng-content>
</ul>

